.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 13px 0 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 48px;
  gap: 10px;
  z-index: 1;
}

.logo {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}


/* Icons  */
.navIcon, .navIconSecondary, .searchIcon {
  aspect-ratio: 1 / 1;
}

.navIcon {
  width: 1.25rem;
  stroke-width: 1.8;
}

.navIconSecondary {
  width: 1rem;
  stroke-width: 2.25;
}

.searchIcon {
  width: 1.2rem;
  stroke-width: 2;
  color: #7A7A7A;
}

/* */
.input, .navGroup {
  display: flex;
  align-items: center;

  height: 100%;
  border: 1px solid #525252;
  border-radius: 25px;
  background-color: #222;
  color: #ccc;
  font-size: 1rem;
  transition: 0.12s border;
  border-radius: 99999px;

  transition: border-color 120ms, background-color 120ms;
}

.input:hover {
  background-color: #282828;
}

.input:focus-within {
  border-color: #6d6d6d;
  background-color: #282828;
}

button {
  cursor: pointer;
}

button[data-active="true"] {
  color: #FDD62F;
}

.buttonRnd {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  padding: 0;
}

.buttonCapsule {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 0.2rem;
}

.navGroup {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.3rem;
}

.buttonNavGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-color: transparent;
  background-color: transparent;
}

.buttonNavGroup:hover,
.buttonNavGroup:focus-visible {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: transparent;
}


/* Search */
.searchWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 350px;
  gap: 0.4rem;
  padding: 0 0.8rem;
}

.searchForm {
  width: 100%;
}

.searchInput {
  width: 100%;
  background: transparent;
  color: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
}
