.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 13px 0 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 48px;
  gap: 10px;
  z-index: 1;
}

.navIcon {
  width: 20px;
  height: 20px;
  stroke-width: 1.8;
}

.navIconSecondary {
  width: 15px;
  height: 15px;
  stroke-width: 1.8;
}

.input {
  display: flex;
  align-items: center;

  height: 100%;
  border: 1px solid #525252;
  border-radius: 25px;
  background-color: #222;
  color: #ccc;
  font-size: 1rem;
  transition: 0.12s border;
  border-radius: 99999px;

  transition: border-color 120ms, background-color 120ms;
}

.input:hover {
  background-color: #282828;
}

.input:focus-within {
  border-color: #6d6d6d;
  background-color: #282828;
}

button {
  cursor: pointer;
}

.buttonRnd {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  padding: 0;
}

.buttonCapsule {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 0.2rem;
}

.logo {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}


/* Search */
.searchWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 350px;
  gap: 0.4rem;
}

.searchForm {
  width: 100%;
}

.searchInput {
  width: 100%;
  background: transparent;
  color: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
}


/* Range Selector */
.rangeSelectorBtn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.35rem 0.4rem 0.5rem;
  border-radius: 99999px;
}

.rangeSelectorBtn:hover,
.rangeSelectorBtn[data-state="open"] {
  background-color: #161616;
}

.rangeSelectorBtnActive,
.rangeSelectorBtnActive[data-state="open"] {
  background-color: #d0d0d0;
  color: black;
}

.rangeSelectorBtnActive:hover {
  background-color: #b5b5b5;
}
