.StaticShelf {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.leftElement, .rightElement {
  width: 80px;
  border-bottom: 1px solid #ccc;
}

.leftElement {
  -webkit-mask-image: linear-gradient(to right, transparent, black 90%);
  mask-image: linear-gradient(to right, transparent, black 90%);
}

.rightElement {
  -webkit-mask-image: linear-gradient(to left, transparent, black 90%);
  mask-image: linear-gradient(to left, transparent, black 90%);
}

.column {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.idElement {
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: #ccc;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Segoe UI Mono", monospace;
  font-size: 11px;
  font-variant-numeric: tabular-nums;
}

.highlightedElement .idElement {
  color: #FDD62F;
}

.elementTrigger {
  all: unset;
  display: block;
  cursor: pointer;
}
