.pieceWrapper {
  cursor: grab;
}

.pieceWrapper:active {
  cursor: grabbing;
}

.element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: #1f1f1f;
  border: 1px solid #cccccc;
  user-select: none;
  transition: opacity 0.16s ease;
  box-sizing: border-box;
  padding: -0.5px;
}

.elementDragging {
  opacity: 0.45;
}
